.home-card {
    text-align: center;
    color: #ff76d8;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    width: 600px;
    padding: 10px;
    background-color: #ffd1e6;
    margin: 30px auto;
}

#home-title {
    background-color: #fef9cc;
    font-size: 42px;
    padding: 20px;
    margin-top: 0;
    border: 6px solid #b6d8ff;
}

.recipe-list {
    background-color: #fef9cc;
    border: 8px dotted #b6d8ff;
    padding: 10px;
}

.recipe-list ul {
    display: inline-block;
    text-align: left;
    font-size: 21px;
    margin: 0 auto;
}

.recipe-list li {
    margin: 20px;
}

.recipe-title {
    font-size: 36px;
}

h2 {
    color: #ff478e;
}

body {
    color: #2f32a7;
    background-color: #e6efff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.recipe-img {
    height: auto;
    width: 500px;
}

.steps {
    display: inline-block;
    text-align: left;
}